# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea

# Grunt
/node_modules/

# Upload
/upload/


# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

#hteme demo
/theme-demo/